<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>DPSYSTEM - Home</title>
</head>
<body>
    <header>
        <h1>DPSYSTEM</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="account/login/">Signup/Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Welcome to DPSYSTEM</h2>
            <p>This is our main page name index.html</p>
        </section>
    </main>

    <footer>
        <p>© 2023 DPSYSTEM. All rights reserved.</p>
    </footer>

</body>
</html>